<%- include("../../views/partials/admin/header") %>
<header>
  <h1>Error Page</h1>
  <p>An error occurred. Please try again later.</p>
  <button onclick="goToHomePage()">Go to Home Page</button>

  <script>
    function goToHomePage() {
      window.location.href = "/";
    }
  </script>
</header>
<%- include("../../views/partials/admin/footer") %>
